@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme as default */
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-primary: #333333;
  --text-secondary: #666666;
  --accent-color: #007bff;
  --border-color: #e0e0e0;
  --ag-grid-odd-row-background-color: #f7f7f7;
  --ag-grid-even-row-background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --bg-primary: #141414;
    --bg-secondary: #2d2d2d;
    --ag-grid-odd-row-background-color: #000000;
    --ag-grid-even-row-background-color: #141414;
    --text-primary: #f2f2f2;
    --text-secondary: #969696;
    --accent-color: #2193c9;
    --action-blue: #50b4e4;
    --action-red: #e9696b;
    --border-color: #303030;
  }
}

[data-theme="dark"] {
  --bg-primary: #141414;
  --bg-secondary: #2d2d2d;
  --ag-grid-odd-row-background-color: #000000;
  --ag-grid-even-row-background-color: #141414;
  --text-primary: #f2f2f2;
  --text-secondary: #969696;
  --accent-color: #2193c9;
  --action-blue: #50b4e4;
  --action-red: #e9696b;
  --border-color: #303030;
}

[data-theme="light"] {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-primary: #333333;
  --text-secondary: #666666;
  --accent-color: #007bff;
  --border-color: #e0e0e0;
}
